#login{
    background-image: url('https://png.pngtree.com/background/20231030/original/pngtree-contemporary-pink-sofa-in-a-minimalist-living-room-pastel-color-scheme-picture-image_5812113.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

