#register{
    background-image: url('https://digital.ihg.com/is/image/ihg/ihg-lp-refresh-hero-imea-gben-lvp-1440x617');
    background-repeat: no-repeat;
    background-size: cover;
}

Label{
    color: white;
}

